ul{
	list-style-type: none;
}
.content {
	top:30px;
	position: relative;
	height: 100%;
}

.userPic {
	width: 180px;
	height: 180px;
}

.userPic img {
	width: 100%;
	height: 100%;
}

.rating-owner {
	margin-top:20px;
	padding: 0;
}

.rating-owner li{
	margin-top: 5px;
	color: #888;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.rating-owner p{
	color: #666;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.topic {
	color: #666;
	font-family: "Helvetica Neue";
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
}

.division-one {
	top:0px;
}

h6, p{
	margin: 0;
}

.title {
	margin-top:5px;
	position: relative;
	color: #666;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.subtitle {
	margin-top:3px;
	position: relative;
	color: #535353;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.titleOne {
	margin-top:25px;
	color: #666;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.titleTwo {
	margin-top: 36px;
	color: #666;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.reviews-image {
	margin-top: 6px;
	margin-right: 5px;
	float: left;
    width: 60px;
	height: 60px;
}

.reviews-image img{
	border-radius: 50%;
    border: 1px solid #979797;
    width: 100%;
    height: 100%;
}

.imagegrid{
    padding: 0;
    width: 60px;
    height: 60px;
}

.row{
	margin-top: 5px;
	margin-left: 1px;
}

.recommand {
	width: 180px;
}

.recommand span {
    color: #666;
	font-family: "Helvetica Neue";
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.thumbnail{
	border: 1px solid #979797;
    padding: 0;
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    border-radius: 0;
}



.thumbnail img {
	width: 100%;
	height: 100%;
}

.review-description {
	color: #666;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
}

i {
	color: #ffc700;
	font-family: FontAwesome;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	margin-right: 3px;
	margin-top: -5px;
}

.footer{
	background:#4c515b;
	padding:5em 0;
}
.box_1 p{
	color:#A4AEC0;
	font-size:0.85em;
}
.box_1 p a{
	color:#ff8261;
}
.box_2 h4{
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom:1.5em;
}
ul.list_2{
	padding:0;
	margin:0;
	list-style:none;
	float:left;
	width: 50%;
}
ul.list_2 li a{
	color:#ffffff;
	font-size:0.85em;
	line-height:2.3em;
}
ul.list_2 li a:hover{
	text-decoration:none;
	color:#ff8261;
}
.address p {
  color: #999;
  font-size: 0.85em;
  line-height: 1.8em;
  margin: 0 0 16px;
  font-style: normal;
}
.address dd {
  color: #fff;
  font-size: 0.85em;
  line-height: 2.2em;
  font-weight: 300;
}
.address dd span, .address dd a{
  color:#A4AEC0;
}
ul.footer_social, ul.team_social{
  padding: 0;
  list-style: none;
  margin: 0;
}
ul.footer_social li {
  
  margin-right: 6%;
}
ul.footer_social li a i.fb {
  background-position:-4px -84px;
}
ul.footer_social li a i {
  width: 25px;
  height: 25px;
  display: block;
  background: url(../images/img_sprite.png)no-repeat;
}
ul.footer_social li a i.tw{
  background-position:-51px -85px;
}
ul.footer_social li a i.linkedin{
  background-position:-104px -85px;
}
ul.footer_social li a i.google{
  background-position:-155px -84px;
}
ul.footer_social li a i:hover{
	opacity:0.7;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}